POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=monitoring service
DATABASE_URL=postgres://postgres:change_me@postgres:5432/monitoring%20service?sslmode=disable
SERVER_URL=http://localhost:8080
COLLECTION_INTERVAL=2s
REQUEST_TIMEOUT=3s